
h1 {
    text-align: center;
    margin: 1em;
}

main {
    background-color: rgb(223, 217, 217);
    margin: 0 auto;
    padding: 2em;
    width: 70%;
    max-width: 500px;
}

.input_section {
    padding: 0.5em 0;
}

.input_container {
    display: flex;
    justify-content: space-around;
    height: 30px;
}

.input_container input {
    width: 30%;
}

.input_container label {
    width: 60%;
   align-self: center;
}

.btn_container {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    
}

.btn_container div {
    width: 60%;
}

.calculate_btn {
    background-color: rgb(223, 217, 217);
    width: 30%;
    padding: 1em;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.calculate_btn:hover {
    background-color: rgb(126, 126, 124);
}

.data_container {
    display: flex;
    justify-content: space-between;
    width: 98%;
}

.data_container h5 {
    margin: 0.5em;
}

.data_container h5:nth-of-type(1) {
    align-self: center;
    margin: 0;
}

.data_container h5:nth-of-type(2) {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32%;
    height: 25px;
    background-color: rgb(172, 169, 186);
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="number"] {
  -moz-appearance:textfield; /* Firefox */
}
